* {
	margin: 0px;
	box-sizing: border-box;
	font-family: sans-serif;
}

.container {
	max-width: 1020px;
	width: 100%;
	padding-top: 90px;
	margin: auto;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0px 10px -35px;
}

/* ----------nav-------------- */

nav {
	height: 100vh;
	padding-top: 25vh;
	position: absolute;
	top: 0;
	left: -250px;
	background: #d0ebf7;
	box-shadow: 0px 1px 15px #807f7f;
	transition: all .3s ease-in;
	z-index: 1;
}

nav.nav_activ {
	left: 0;
}

.menu_ul {
	list-style: none;
	margin: 0px 60px;
	padding: 0px;
}

.menu_ul li {
	padding-bottom: 20px;
}

.menu_ul a {
	font-size: 18px;
	font-weight: bold;
	color: #03a9f4;
	text-decoration: none;
	transition: .2s;
}

.menu_ul a:hover {
	color: #f44336;
}

/* ----------menu icon----------- */

.menu_icon_size {
	width: 30px;
	height: 22px;
	display: flex;
	align-items: center;
    cursor: pointer;
    z-index: 2;
}

.menu_icon {
	width: 30px;
	height: 4px;
	background-color: #03a9f4;
	border-radius: 2px;
	position: relative;
	transition: .2s;
	z-index: 1;
}

.menu_icon.menu_icon_activ {
	background-color: transparent;
}

.menu_icon::before {
	content: "";
	top: -8px;
	left: 0px;
	width: 30px;
	height: 4px;
	background-color: #03a9f4;
	border-radius: 2px;
	position: absolute;
	transition: .2s;
}

.menu_icon.menu_icon_activ::before {
	top: 0px;
	transform: rotate(45deg);
}

.menu_icon::after {
	content: "";
	top: 8px;
	left: 0px;
	width: 30px;
	height: 4px;
	background-color: #03a9f4;
	border-radius: 2px;
	position: absolute;
	transition: .2s;
}

.menu_icon.menu_icon_activ::after {
	top: 0px;
	transform: rotate(-45deg);
}

/* ----------swith-------------- */

.toggle-button-cover {
	display: table-cell;
	position: relative;
}

.knobs,
.layer {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.button {
	position: relative;
	top: 50%;
	width: 120px;
	height: 36px;
	margin: auto;
	overflow: hidden;
	border-radius: 2px;
}

.checkbox {
	position: relative;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	opacity: 0;
	cursor: pointer;
	z-index: 3;
}

.knobs {
	z-index: 2;
}

.layer {
	width: 100%;
	background-color: #ebf7fc;
	transition: 0.3s ease all;
	z-index: 1;
}

#button-17 .knobs:before,
#button-17 .knobs span {
	content: 'TRAIN';
	position: absolute;
	top: 4px;
	left: 4px;
	width: 45px;
	height: 28px;
	color: #fff;
	font-size: 10px;
	font-weight: bold;
	text-align: center;
	padding: 10px 0px;
}

#button-17 .knobs:before {
	transition: 0.3s ease all, left 0.5s cubic-bezier(0.18, 0.89, 0.35, 1.15);
	z-index: 2;
}

#button-17 .knobs span {
	background-color: #03a9f4;
	border-radius: 2px;
	transition: 0.3s ease all, left 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15);
	z-index: 1;
}

#button-17 .checkbox:checked + .knobs:before {
	content: 'PLAY';
	left: 71px;
}

#button-17 .checkbox:checked + .knobs span {
	left: 71px;
	background-color: #f44336;
}

#button-17 .checkbox:checked ~ .layer {
	background-color: #fcebeb;
}

article {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-wrap: wrap;
	perspective: 1200px;
}

article > h2 {
	margin: auto;
	margin-bottom: 20px;
	color: rgb(46, 49, 40);
}
.card_section {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.card {
	width: 25%;
	padding: 5px;
	position: relative;
	perspective: 900px;
}

.card_padding.rotate {
	transform: rotateY(180deg);
}

.card_padding {
	padding: 5px;
	background: #03a9f4;
	border-radius: 4px;
	position: relative;
	transform-style: preserve-3d;
    transition: .4s;
	cursor: pointer;
    
}

.card_padding:hover{
box-shadow: 0px 0px 8px #506e7c;
    
}

.card_content_block {
	width: 100%;
	padding-top: calc(100%/(300/288));
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 4px;
}

.card_contents {
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: space-around;
    transition: .3s;
    background: #d8f1fca9;
	border: 5px #03a9f4 solid;
    border-top: none;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}

.card_contents h2 {
	margin: 5px;
}

.but {
	color: #03a9f4;
    font-size: 28px;
    font-weight: bold;
	display: none;
	transition: .4s;
}

.but:hover {
    color: #f44336;
}

.but.active {
	display: block;
}

.rus_lang {
	width: 100%;
	background: #EBF8FD;
	position: absolute;
	left: 0;
    bottom: 0;
	border: 5px #03a9f4 solid;
	border-top: none;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	backface-visibility: hidden;
	transform: rotateY(180deg);
}

.rus_words {
	text-align: center;
	padding: 5px 0px;
}
